.Contact {
  display: flex;
  justify-items: center;
  align-items: center;
}

.contact__content {
  width: 97%;
  margin-top: 2rem;
}

.contact__content .row {
  margin: 2.5rem auto;
}

.contact__textarea {
  outline: none;
  color: white;
  width: 100%;
  height: 200px;
  border: 1px solid var(white);
  padding: 0.2rem;
}

.contact__submit {
  width: 98%;
  background-color: var(--quaternary-color);
  text-align: center;
  padding: 0.3rem;
  display: block;
  transition: all ease 0.4s;
  margin: 0.2rem auto;
  border-radius: 8px;
}

.contact__submit:hover {
  background-color: var(--primary-color);
}
.input-field label {
  color: white;
}
input {
  color: white;
}

/* label focus color */
.input-field input[type='text']:focus + label {
  color: var(--quaternary-color) !important;
}
/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid var(--quaternary-color) !important;
  box-shadow: 0 1px 0 0 var(--quaternary-color) !important;
}

.input-field input[type='email']:focus + label {
  color: var(--quaternary-color) !important;
}

.input-field > label:focus {
  border-bottom: 1px solid var(--quaternary-color) !important;
  box-shadow: 0 1px 0 0 var(--quaternary-color) !important;
}
/* label underline focus color */
.input-field input[type='email']:focus {
  border-bottom: 1px solid var(--quaternary-color) !important;
  box-shadow: 0 1px 0 0 var(--quaternary-color) !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: var(--quaternary-color) !important;
}

.input-field .materialize-textarea:focus {
  border-bottom: 1px solid var(--quaternary-color) !important;
  box-shadow: 0 1px 0 0 var(--quaternary-color) !important;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:after {
  background-color: var(--quaternary-color);
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:before,
[type='radio'].with-gap:checked + span:after {
  border: 2px solid var(--quaternary-color);
}

p label span {
  font-size: 2rem;
}

form {
  padding: 1rem;
  margin: 0 auto;
  width: 95%;
}
